$backgroundColor1: #28215e;
$backgroundColor2: #79778f;
$mainColor: rgb(255, 255, 255);
$sectionColor: #f0f0f5;

$color1: rgb(170, 240, 113);
$color2: rgb(58, 107, 212);
$color3: rgb(49, 49, 48);
$color4: rgb(255, 255, 255);