extends layout

block content
  section#full
    span Boardy
    h3 Track your board game experiences
    p Use Boardy to log your board game plays, discover new games,<br/> and share your experiences with the community.
    //
      <p class="success">SUCCESS</p>
      <p class="error">ERROR</p>
      <p class="warning">WARNING</p>
    a(href="signup")
      button.submit-button(type="button") Sign Up
    a(href="login")
      button.submit-button(type="button") Log In
  // section#intro-image
    img(src='images/louisiana-barbecued-shrimp.webp' alt='Louisiana Barbecued Shrimp')

