doctype html
html
  head
    title= `${title}`
    //- link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/form.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    link(rel='StyleSheet' href='css/styles.css' type='text/css')
    link(rel='StyleSheet' href='css/registration.css' type='text/css')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    //- script(src='script.js')

  body
    header
      nav
        ul
          li
            a(href='/profile') Boardy
          //- li |
          //- li
            a(href='#') Blog
          //- span
            li
              a(href='/register') Register
    main
      block content


  footer
    //- &copy; Copyright 2022

      
      